/* Colors */
:root {
    /* LIGHT THEME COLORS */
    --whoogle-logo: #685e79;
    --whoogle-page-bg: #9b9191;
    --whoogle-element-bg: #685e79;
    --whoogle-text: #000000;
    --whoogle-contrast-text: #ffffff;
    --whoogle-secondary-text: #70757a;
    --whoogle-result-bg: #ffffff;
    --whoogle-result-title: #1967d2;
    --whoogle-result-url: #0d652d;
    --whoogle-result-visited: #4b11a8;
    --whoogle-divider: #dfe1e5;

    /* DARK THEME COLORS */
    --whoogle-dark-logo: #dddddd;
    --whoogle-dark-page-bg: #000000;
    --whoogle-dark-element-bg: #dddddd;
    --whoogle-dark-text: #dddddd;
    --whoogle-dark-contrast-text: #f8f7f7;
    --whoogle-dark-secondary-text: #a4a5a7;
    --whoogle-dark-result-bg: #000000;
    --whoogle-dark-result-title: #dddddd;
    --whoogle-dark-result-url: #0359ee;
    --whoogle-dark-result-visited: #06fd50;
    --whoogle-dark-divider: #111111;
}
